{% extends "landing.html" %}

{% block content %}
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #939393;
}
</style>


<div id="content-box">
    <header id="intro-header">
        <h1>{{ page.heading }}</h1>
    </header>
      <a target="_blank" href="../../images/appartement/banner.jpg"><img src="../../images/appartement/banner.jpg" alt="banner" width="100%" height="400"></a>
      <p> Trendy instapklaar appartement (G1/2.3) van 97m<sup>2</sup> op de 2de verdieping, bereikbaar met lift als buitentrap, met 2 slaapkamers, grote leefruimte met half open keuken en aangrenzend terras, praktische was en bergplaats, aparte wc, badkamer met ligbad en lavabo en een ruime inkomhal.</p>
      <p> Vraagprijs: 230.000 EUR </p>
      <p> Onmiddelijk beschikbaar bij akte </p>
      <hr/>
      <h2> Het binnenhof </h2>
      <p>project met 40 tal appartementen verdeeld over 2 eenheden, is een onderdeel van een groene inplanting van diverse monderne woon- en werkgelegenheden.</p>
      <p>Dit bouwblokconcept biedt de kans op een kwalitatief en rustig woonerf midden in de stad.
      <hr/>
      <h2> Ligging </h2>
      <p>Het is gelegen nabij het Sint-Jansplein  op wandelafstand van <a href='http://www.visitantwerpen.be/detail/park-spoor-noord'>park spoor Noord</a>, vlakbij de winkels, het openbare vervoer, het centrum van Antwerpen op een kwartier wandelafstand van meir en centraal station en toch goed gelegen langs de invalswegen.</p>
      <hr/>
      <h2> Technische gegevens </h2>
        <table>
          <tr>
            <td>Verdieping</td>
            <td>2</td>
	    <td>Slaapkamers</td>
	    <td>2</td>
          </tr>
          <tr>
            <td>Badkamer</td>
            <td>1</td>
	    <td>Bewoonbare opp</td>
	    <td>97m<sup>2</sup></td>
          </tr>
          <tr>
            <td>Verwarming</td>
            <td>Centraal op gas</td>
	    <td>Bouwjaar</td>
	    <td>2010</td>
          </tr>
          <tr>
            <td>EPC</td>
            <td>E91 128.22 kWh/m<sup>2</sup></td>
	    <td>Terras</td>
	    <td>4m<sup>2</sup></td>
          </tr>
          <tr>
            <td>Parkeerplaats</td>
            <td>Ruime staanplaats met plaats voor 1 wagen en 2 fietsen</td>
	    <td>Kelderberging</td>
	    <td>2m<sup>2</sup></td>
          </tr>
        </table>
      <hr/>
      <h2> Contact </h2>

      <form action="//formspree.io/appartement@visibilityspots.org" method="POST">
        <input type="text" name="name" placeholder="Naam"></br>
        <input type="email" name="_replyto" placeholder="Email adres"></br>
        <textarea name="message" placeholder="Uw bericht" rows="10" cols="50"></textarea></br>
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_format" value="plain" />
        <input type="hidden" name="_subject" value="appartement">
        <input type="submit" value="Verzend">
      </form>
      <hr/>
      <h2> <a href="https://vps.visibilityspots.org/Lychee/#14933881096558">Foto's</a></h2>
</div>
</div>
{% endblock content %}
