{% extends "base.html" %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/github.css">
{% endblock stylesheets %}

{% block content %}
    {% include "sidebar.html" %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>

    <div id="post-container">
        <ol id="post-list">
            <li>
                <article class="post-entry">
                    <header class="entry-header">
			<div align="center"><input type="text" size="60" id="tipue_search_input">
			<input type="button" id="tipue_search_button" value="Search"></div>
			<div id="tipue_search_content"></div>
                    </header>

                    <hr/>
                    <section class="post-content">
		    <script>
			$(document).ready(function() {
			     $('#tipue_search_input').tipuesearch({
			         'show': 10,
			         'mode': 'json',
			         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
			     });
			});
		    </script>
                    </section>
                </article>
            </li>
        </ol>

{% endblock content %}
