<header id="sidebar" class="side-shadow">
    <hgroup id="site-header">
    <a id="site-title" href="{{ SITEURL }}"><h1>{{ SITENAME }} <i class={% if ICON %}"{{ ICON }}"{% else %}"icon-coffee"{% endif %}></i></h1></a>
        <p id="site-desc">{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    </hgroup>
    <input data-stork="sitesearch" id="searchbox" type="text" size="12" placeholder="search">
    <div data-stork="sitesearch-output"></div>

    <nav>
        <ul id="nav-links">
            {% if USE_CUSTOM_MENU %}
            {% for name, url in CUSTOM_MENUITEMS %}
                <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
            {% endfor %}
            {% else %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </nav>
    {% if categories %}
    Categories:
      <ul>
        {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/category/{{ category }}.html">{{ category }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% include "footer.html" %}
</header>
